/*html {
  --scrollbarBG: #a1a1a1b7;
  --thumbBG:  #252525d3;
}
body::-webkit-scrollbar {
  width: 10px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 200px;
  border: solid var(--scrollbarBG);
}


*{
  width: 100%;
  font-family: "ubuntu", sans-serif;
  margin: auto;
}*/


/*HEADER*/


.menuu{
backdrop-filter: blur(15px);
background: rgba(0, 0, 0, 0.266);
position: fixed;
z-index: 5;
width: 100%;
}

nav img{
margin-left: 5%;
height: 35px;
width: auto;
}

.nav-link:focus{
text-decoration: underline;
text-decoration-color:rgb(255, 255, 255);
text-underline-position: under;
font-size: 21px;
}

.nav-link:active{
text-decoration: underline;
text-decoration-color:rgb(255, 255, 255);
text-underline-position: under;
font-size: 21px;
}

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  text-align: center;
  padding-top:1%;
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 8%;
  padding-bottom: 7%;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.923), rgba(0, 0, 0, 0.564));
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header h1{
color: rgb(255, 255, 255);
}

.header hr{
height: 8px;
  background-color:  rgb(255, 255, 255);
  width: 20%;
  margin-bottom: 3%;
   opacity:unset;
}

.header p{
 color: white; 
}

.header button{
  margin-top: 3%;
  width: 30%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  border-radius: 5px;
  background: brown;
  color: white;
  border: none;
  transition-duration: 0.8s;
}

.header button:hover{
  transform:scale(1.05);
  transition-duration: 0.4s;
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.477);
}

.information{
  display: flex;
  flex-direction: row;
  gap: 1rem;
 align-items: center;
 justify-content: center;
 margin: auto;
 margin-top: 0px;
 margin-bottom: 0px;
 width: 100%;
}

button.cv{
  width: 10%;
}

/* ARTICLE */

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

.container {
  margin: auto;
  width: 100%;
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 1% 1%; 
  grid-template-areas: 
    ". . . ."
    ". . . ."; 
}

@media only screen and (max-width: 1050px) {
  .container {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    gap: 1% 1%; 
    grid-template-areas: 
      ". ."
      ". ."
      ". ."
      ". ."; 
  }

  .header{
    padding-top: 30%;
    padding-bottom: 20%;
  }

  div .acontainer{
    display: flex;
    flex-direction: column;
    height: auto;
    margin: auto;
    margin-top: 7%;
    margin-bottom: 6%;
  }

  .acontainer .aimage-container{
    width: 100%;
    height: auto;
  }

  .acontainer .atext-container{
    width: 100%;
    padding: 0px;
    margin-top: 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .acontainer .buttonss button{
    width: 20vw;
  }

}

.card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
  transform: scale(0.9);
}

.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 20px;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 1rem;
}

.tag-teal {
  background-color: #47bcd4;
}

.tag-purple {
  background-color: #5e76bf;
}

.tag-pink {
  background-color: #cd5b9f;
}

.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}

.user {
  display: flex;
  margin-top: 0rem;
}

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.user-info h5 {
  margin: 0;
}

.user-info small {
  color: #545d7a;
}

.buttons{
  width: 70%;
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
  align-items: center;
  align-content: center;
  gap: 5%;
  align-items: center;
}

.buttons :first-child{
  width:60%;
}

.buttons :nth-child(2), .buttons :last-child{
  width:20%;
}

button{
  border-radius: 8px;
  background-color: #47bcd4;
  border: none;
  color: white;
  padding: 2%;
}

/*ARTICOLO*/
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
}
.acontainer {
	width: 75%;
	height: 50vh;
	margin: auto;
  margin-top: 7%;
	display: flex;
  margin-bottom: 6%;
}
.aimage-container {
	width: 50%;
}
.aimage-container img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.atext-container {
	width: 50%;
	padding: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.buttonss{
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  gap: 3%;
}

.buttonss button{
  padding: 8px;
  width: 10vw;
}

/*FORM ARTICLE*/

.eedit {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 4px;
  display: block;
  font-weight: bold;
  font-size: x-large;
}

.ecard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  min-height: 350px;
  width: 85%;
  flex-direction: column;
  gap: 35px;
  background: #7bd1ee;
  box-shadow: 16px 16px 32px #c8c8c8,
        -16px -16px 32px #fefefe;
  border-radius: 8px;
  padding-top: 4%;
  padding-bottom: 4%;
  margin-bottom: 6%;
}

.einputBox {
  position: relative;
  width: 40%;
}

.einputBox input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  color: #000;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transition: 0.1s;
  border-bottom-left-radius: 8px;
}

.einputBox input:valid,
.einputBox input:focus {
  border: 0.5px solid #000;
  border-radius: 8px;
  background: #ffffff;
}

.eenter {
  height: 20px;
  width: 200px;
  border-radius: 5px;
  border: 2px solid #00775d;
  cursor: pointer;
  background-color: white;
  transition: 0.5s;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  margin-bottom: 1em;
  color: #000;
}

.eenter:hover {
  background-color: rgb(20, 173, 89);
  color: white;
}

.buttons a{
  color: white;
  text-decoration: none;
}
